body {
  background-color: #ecf0f1;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.sale_header {
  font-size: 3rem;
  margin: 0;
  color: #d0604c;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 0 1rem;
  border-radius: 1rem;
}

.lighter_container {
  display: flex;
}

h2 {
  font-size: 2rem;
}

header {
  padding: 2rem 0 1rem;
}

header > img {
  display: block;
  margin: 0 auto;
  width: 300px;
}

.header_text {
  color: #d0604c;
  text-align: center;
  margin-top: 1rem;
}

nav {
  background-color: #d47b64;
  border-radius: 1rem;
  padding: 0 1rem;
  margin: 0 1rem 2rem;
}

nav ul {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin: 1rem;
}

nav li a {
  text-decoration: none;
  font-weight: 700;
  color: #f2e0d2;
}

.sale {
  background-image: url(./manicure_1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 2rem;
  border-radius: 2rem;
  margin: 0 1rem 2rem;
}

.sale_text {
  width: 70%;
  font-weight: 700;
  color: #d0604c;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 1rem;
  border-radius: 1rem;
}

.section_container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  margin: 0 1rem 2rem;
}

.card {
  width: 25%;
  color: #d47b64;
  padding: 0 1.2rem 2rem;
  border-radius: 1rem;
  background-color: #f2e0d2;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.card img {
  width: 100%;
  border-radius: 1rem;
}

.table_container {
  display: flex;
  justify-content: center;
}

td {
  padding: 0.2rem 0.5rem;
}

footer {
  display: flex;
  padding: 1rem;
  border-top: solid #d47b64 2px;
  margin-bottom: 2rem;
}

footer div {
  flex: 1;
}

.footer_logo_container {
  display: flex;
  align-items: center;
}

.footer_logo {
  width: 4rem;
}

.copyright {
  display: flex;
  justify-content: flex-end;
  color: #d47b64;
}

.button_container {
  margin: 2rem 0 1rem;
}

.button {
  text-decoration: none;
  background-color: #d47b64;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  color: #f2e0d2;
  text-transform: capitalize;
  font-weight: 600;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@media (max-width: 930px) {
  .card {
    width: 40%;
  }

  .card:nth-child(3) {
    margin-top: 2rem;
  }
}

@media (max-width: 660px) {
  .card {
    width: 65%;
  }

  .card:nth-child(2) {
    margin-top: 2rem;
  }
}

@media (max-width: 500px) {
  .card {
    width: 80%;
  }
}
